body {
    background-color: #F2F2F2;
}
.tabs .indicator {
    background-color: white;
}
.titulo {
    font-size: 1.3rem;
    margin-left: 5%;
    margin-right: auto;
}
.topo-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.section {
    padding-top: 125px;
}
.section-itens{
   padding-top: 15px;
   padding-bottom: 15px; 
}
.item-pad {
    padding: 20px;
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
} 

.botao:hover {
    /* cursor: pointer; */
    background-color: #efebe9;
}
.badge{
    border-radius: 10%;
}
